/* quntaolun.css*/
@charset "utf-8";
body{
    margin: 0;
    padding: 0;
    overflow: auto;
}
.body_bg {
    background: #393D49;
    color: #fff;
}

.layui-tab {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.layui-tab {
	background-color: #30343e;
	border-radius: 4px;
	border: 1px solid #23262e;
}

.layui-tab-title {
	border-bottom: 1px solid #23262e;
}

.layui-form-item {
	margin: 15px;
}

.layui-table {
	margin: -4px;
}